.background{
    -fx-background-color: lightgrey;
}

.label{
    -fx-font-size:13pt;
    -fx-font-family:"Open Sans Condensed",serif;
    -fx-align-content:left;  
}

.table-view{
    -fx-table-cell-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}
.table-view .column-header {
    -fx-size:20; 
    -fx-background-color:transparent;
}

-table-view:hover{
    -fx-background-color:cadetblue;
}

.menu-bar .label{
    -fx-font-size: 12pt; 
    -fx-opacity: 0.9;
}

.button{
    -fx-border-radius: 12px; 
}

